.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: black;
  padding: 0 2rem; /* Adjust padding for responsiveness */
  position: sticky;
  top: 0;
}

.nav-bar h2 {
  font-size: 18px; /* Adjust font size for responsiveness */
  font-weight: 500;
  color: white;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bag {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-bag_logo {
  z-index: 10;
}

.nav-bag__quantity {
  position: absolute;
  top: 6px; /* Adjust top for better positioning */
  right: -12px; /* Adjust right for better positioning */
  color: white;
  border-radius: 50%;
  background: black;
  width: 18px; /* Adjust width for better visibility */
  height: 18px; /* Adjust height for better visibility */
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar__logged,
.nav-bar__auth {
  display: none; /* Hide these sections on smaller screens */
}

@media (min-width: 768px) {
  /* Apply styles for screens with a minimum width of 768px */
  .nav-bar h2 {
    font-size: 20px;
  }

  .nav-bar {
    padding: 0 4rem;
  }

  .nav-bar__logged,
  .nav-bar__auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-bar__logged a,
  .nav-bar__auth a {
    margin-right: 1rem;
  }
}
